---
layout: default
---

<article>
  <div class="profile-header">
    <img src="/assets/images/profile2025.png" alt="Katherine Mohr" style="border-radius: 4px;">
    <div>
      <h2>Katherine Mohr</h2>
      <p style="font-size: .95em; color: #666; margin: 0 0 0.5em 0;">
        <a href="mailto:kmohr@cs.stanford.edu">kmohr@cs.stanford.edu</a> /
        <a href="https://scholar.google.com/citations?user=5GfR8KQAAAAJ">Scholar</a> /
        <a href="https://www.linkedin.com/in/katherinemohr">LinkedIn</a> /
        <a href="assets/Resume-April2026.pdf">Resume</a> /
        <a href="https://www.twitter.com/kmohr_">Twitter</a>
      </p>
      <p>
        Hello! I'm Katherine.
        I'm a first year PhD student in Computer Science at Stanford University,
        where I'm coadvised by
        <a href="http://fredrikbk.com">Fred Kjolstad</a>
        and
        <a href="https://cs.stanford.edu/~keithw/">Keith Winstein</a>.
      </p>
    </div>
  </div>
  <div style="background: #f0f4ff; border-left: 3px solid #4a6fa5; padding-left: 1em; padding-right: 1em; margin-bottom: 1em; display: inline-block;">
    <p><strong>News:</strong> I'll be at CppCon September 13-18! Come say hi!</p>
  </div>
  <section>
    <p style="margin-top: 0;">
      I'm broadly interested in compilers, programming languages, networking, and computer architecture.
    </p>

    <p>
      I just finished up my first-year rotations, where I
      <ul>
        <li>explored new methods of serverless compute with <a href="https://cs.stanford.edu/~keithw/">Keith</a>,</li>
        <li>mapped data to heterogeneous memories
        (and separately, struggled to understand the internals of <a href="https://github.com/rapidsai/cudf/tree/main">cudf</a>)
        with <a href="http://fredrikbk.com">Fred</a>, and</li>
        <li>built an <a href="https://arxiv.org/pdf/2606.26138">early prototype</a> of a server that uses both DRAM and "Long-term RAM" with <a href="https://csl.stanford.edu/~pal/">Phil</a>.</li>
      </ul>
    </p>

    <p>
      Before coming to Stanford, I majored in Electrical Engineering and Computer Science at MIT (with a strong emphasis on the computer science side of that),
      where I was advised by some incredible people, including
      <a href="https://people.csail.mit.edu/saman/">Prof Saman Amarasinghe</a>,
      <a href="https://people.csail.mit.edu/jrk/">Prof Jonathan Ragan-Kelley</a>,
      <a href="https://intimeand.space">Ajay Brahmakshatriya</a>, and
      <a href="https://ajroot.pl">AJ Root</a>,
      as well as many others in a less official capacity.

      I also spent some time before grad school working at <a href="https://fiverings.com">Five Rings Capital</a>.
    </p>

    <p>
      All the cool kids have blogs, so I'm trying this thing out.
      If this blog looks familiar, it's because it is blatantly stolen from <a href="https://www.micahlerner.com">Micah Lerner</a>'s excellent blog.
      You should probably go check that out instead.
    </p>
  </section>
  <!--TODO: this code is kinda ugly and also I want this to link to another page with the bibtex and stuff like Fred has-->
  <section>
    <div">
      <h3>Publications</h3>
      <ul style="list-style: none; padding-left: 0px">
        {% for pub_keyval in site.data.publications %}
        {% assign key = pub_keyval[0] %}
        {% assign pub = pub_keyval[1] %}
        <li style="margin-bottom: 0.75em">
          <a href="/pub/{{ key }}/" style="text-decoration: none; color: inherit;">
            <b>{{ pub.title }}</b>
          </a>
          {% if pub.pdf %}
          <span style="font-size: 0.7em;">
            <a href="{{ pub.pdf }}">PDF</a>
          </span>
          {% endif %}
          {% if pub.poster %}
          <span style="font-size: 0.7em;">
            <a href="{{ pub.poster }}">Poster</a>
          </span>
          {% endif %}

          <p style="margin: 0 0 0.1em 0; font-size: 0.90em;">
            {%- for author in pub.authors -%}
              {%- if forloop.last == true and forloop.length > 1 -%}
                and
              {% endif -%}
              {%- if author == "kmohr" -%}
                <b>{{ site.data.authors[author].name }}</b>
              {%- else -%}
                <a href="{{ site.data.authors[author].site }}">{{ site.data.authors[author].name }}</a>
              {%- endif -%}
              {%- if forloop.last == false and forloop.length > 2 -%}, {% endif %}
            {%- endfor -%}
          </p>
          <p style="margin: 0 0 0.1em 0; font-size: 0.9em;">
            <i>
              {{ pub.venue }}
              {% if pub.venuenote %}
                ({{ pub.venuenote }})
              {% endif %}
              {% if pub.volume %}
                , Volume {{ pub.volume }}
              {% endif %}
              {% if pub.issue %}
                , Issue {{ pub.issue }}
              {% endif %}
            </i>
            {% if pub.month %}
              , {{ pub.month }}
            {% endif %}
            {% if pub.year %}
              {{ pub.year }}
            {% endif %}
            {% if pub.award %}
              <br />
              <span style="color:#0096FF"><b>{{ pub.award }}</b></span>
            {% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div style="padding-top: 20px">
      <h3>Blog</h3>
      <p style="font-size: .95em; color: #666; margin: 0 0 0.5em 0;">
        See also:
        <a href="clog.html">clog</a>
      </p>
      <ul style="list-style: none; padding-left: 0px">
        {% for post in site.posts %} {% unless post.draft or post.paid %}
        <li>
          <p>
            <a href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B
            %d, %Y' }} {% if post.hn.size > 0 %}
            <a href="{{post.hn}}" class="hn" style="text-decoration: none">
              <img
                class="hn-image"
                src="/assets/y18.gif"
                style="border: 1px white solid"
                width="18"
                height="18"
              />
            </a>
            {% endif %}
          </p>
        </li>
        {% endunless %} {% endfor %}
      </ul>
    </div>
    <div style="padding-top: 20px">
      <h3>Fragments</h3>
      <ul style="list-style: none; padding-left: 0px">
        {% for post in site.fragments reversed %} {% unless post.draft %}
        <li>
          <p>
            <a href="{{post.url}}">{{post.title}}</a> - {{ post.date | date: '%B
            %d, %Y' }}
          </p>
          <!-- <p>Published {{ post.date | date: '%B %d, %Y' }} </p> -->
        </li>
        {% endunless %} {% endfor %}
      </ul>
    </div>
  </section>
  <br>
  <p style="font-size: .95em; color: #666; margin: 0 0 0.5em 0;">
      Shout out
      <a href="http://jessding.com">Jess Ding</a>
      for being my accountability buddy to keep this page somewhat updated.
    </p>
  </section>
</article>
